/** @format */

body {
  background-color: rgb(92, 92, 92);
  color: #fff;
}

.text-center {
  text-align: center;
}

.center-div {
  display: flex;
  justify-content: center;
}

.label {
  display: block;
  margin: 5px 5px;
}

.table-data {
  margin-top: 10px;
}

label {
  display: block;
}

table {
  width: 100%;
  background-color: #fff;
  color: #000;
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: rgb(194, 194, 194);
}

form[action="/delete"],
form[action="/patch"] {
  display: inline-block;
}

.delete-button {
  width: 50px;
  height: 50px;
}
